<!DOCTYPE html>
<html>
<head>
  <title>Ngo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>  
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "map" %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3&sensor=false" %>
  <%= javascript_include_tag "http://openlayers.org/api/OpenLayers.js" %>
  <%= csrf_meta_tags %>

  <style>
    img.olTileImage {
        max-width: none;
    }
  </style>
  
</head>
<body onload="init()">

<%= render "shared/menu" %>

<div class="container">
<%= yield %>
</div>

</body>
</html>
