<ul class="nav nav-pills">
  <li class="active"><%= link_to 'Home', home_path %></li>
  <li><%= link_to 'Organisations', organisations_path %></li>
  <li><%= link_to 'Locations', locations_path %></li>
  <li><%= link_to 'URIs', uris_path %></li>
  <li><%= link_to 'Contacts', contacts_path %></li>
  <li><%= link_to 'Services', services_path %></li>  
  <li><%= link_to 'Tags', tags_path %></li>  
</ul>